@import url('https://fonts.googleapis.com/css2?family=Almendra:ital@1&family=Josefin+Sans&family=Roboto:wght@300&display=swap');

body {
    display: flex;
    padding: 0;
    margin: 0;
    flex: 1;
}

.nav {
    max-width: 250px;
    background-color: #0590b3;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.logo {
    display: flex;
    gap: 0.3rem;
}

.mainimg {
    min-width: 15%;
    color: white;
}

h1 {
    font-size: calc(1rem + 40%);
    color: white;
}

svg {
    width: 10%;
    fill: white;
}

ul {
    padding-left: 0;
}


li {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 0.7rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: white;
    margin-bottom: 0.5rem;
}

.headerdiv {
    min-width: calc(100vw - 250px);
    height: 150px;
    padding: 1rem;
    display: grid;
    grid-template: 1fr 1fr / 2fr 1fr;
}

img {
    width: 7%;
}

.headerfirst {
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.searchbar {
    width: 82%;
    background-color: rgb(226, 236, 236);
    height: 30%;
    position: relative;
    top: 4px;
    border-radius: 8px;
}

.headersecond {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.headersecond > img {
    width: 15%;
    height: 45%;
    border-radius: 14px;
}

.headersecond > p {
    margin: 5px 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.headerthird {
    display: flex;
    align-items: center;
    gap: 12px;
}

.headerthird > img {
    width: 15%;
    border-radius: 30px;
}

.hidiv > p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.headerfourth {
    display: flex;
    align-items: center;
    gap: 1rem;
}

button {
    background-color: #0590b3;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    width: 40%;
    height: 35px;
    border-radius: 12px;
    border-color: #0590b3;
}

.separateheading {
    background-color: grey;
    padding: 1.5rem;
    padding-bottom: 0;
    margin: 0;
}

.maindiv {
    background-color: grey;
    display: flex;
    padding: 1.5rem;
}

.griddiv {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 1rem;
}

